.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
@media screen and (max-width: 420px) {
       #lezioni {
         background-color: #F2F2CD;
         width: 100vh;
         
       }
       #why {
         background-color: #F2F2CD;
         width: 100vh;
        }
        #steps {
          width: 100vh;
        }

       #lezioni .row>.left,
       #lezioni .row>.right {
         width: 60%;
         float: center;
         padding-left: 200px;
         height: 280px;

       }
       #steps .row>.left,
       #steps .row>.central,
       #steps .row>.right {
         float: center;
         width: 60%;
         padding-left: 200px;
         height: 270px;
         margin: auto;
         text-align: center;
       }
       .row {
         width: 100%;
         margin-top: 0;
       }
       h1 {
         margin-top: 0%;
       }
       h3 {
         margin: 0;
         font-size: 20px;
         
       }
       #why .row>.first,
       #why .row>.second,
       #why .row>.third {
        margin-top: 0%;
        margin-bottom: 1rem;
        width: 60%;
        text-align: center;
        margin: auto;
        
}
}
